{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://ubd.insur.mn",
      "description": "Production server"
    }
  ],
  "info": {
    "title": "Broker Dynamic API (MN)",
    "version": "1.0.0",
    "description": "Broker Dynamic API Postman collection\n\n=== Ерөнхий урсгал ===\n1. POST /api/broker/get_token\n- Broker username, password-оор token авна.\n\n2. POST /api/broker/get-driver\n- Регистрийн дугаараар жолооч / иргэний мэдээлэл татна.\n- XYP ашигладаг.\n- Зөвхөн XYP ашиглах эрхтэй хэрэглэгч ашиглана.\n\n3. POST /api/broker/get-vehicle\n- Улсын дугаараар тээврийн хэрэгслийн мэдээлэл татна.\n- XYP ашигладаг.\n- Зөвхөн XYP ашиглах эрхтэй хэрэглэгч ашиглана.\n\n4. GET /api/broker/products\n- Ашиглах боломжтой бүтээгдэхүүний жагсаалт авна.\n- Product бүр дээр is_active boolean буцна.\n\n5. GET /api/broker/products/{product_key}/category\n- Сонгосон product_key-ийн category авна.\n- category утга:\n  - mashin\n  - oron_suuts\n  - ed_hurungu\n\n6. GET /api/broker/{product_key}/get_sets\n- Сонгосон бүтээгдэхүүний багцуудыг авна.\n\n7. POST /api/broker/{product_key}/create\n- Сонгосон бүтээгдэхүүний гэрээ үүсгэнэ.\n\n8. POST /api/broker/{product_key}/upload_photos\n- Гэрээ үүссэний дараа тээврийн хэрэгслийн зургууд upload хийнэ.\n- Зөвхөн thd, ht, thd_loan дээр ажиллана.\n\n9. POST /api/broker/{product_key}/check_pay\n- Төлбөрийн төлөв шалгана.\n- Төлөгдсөн бол contract_url буцаана.\n\n10. POST /api/broker/{product_key}/contract\n- Нэг гэрээний дэлгэрэнгүй мэдээлэл авна.\n\n11. POST /api/broker/{product_key}/contracts\n- Огнооны интервалаар гэрээнүүдийн жагсаалт авна.\n\n=== Бүтээгдэхүүний key ===\n- thd\n- ht\n- god\n- thd_loan\n- ajd\n- sgo\n\n=== Нэмэлт тайлбар ===\n- THD нь хуучин /api/broker/thd/* flow-ийг яг тэр чигээр нь ашиглана.\n- HT, GOD, THD loan, AJD, SGO нь broker dynamic controller-оор орно.\n- AJD get_sets нь хоосон жагсаалт буцаана.\n- THD get_sets нь хуучин THD sets response-ээ яг тэр чигээр нь ашиглана.\n- GOD, SGO get_sets нь common broker structure дээр insurance_type, protection_amount, price талбаруудыг нэмээд буцаана.\n- Баталгаажсан token-ийг Authorization: <token> хэлбэрээр protected endpoint бүр дээр дамжуулна.\n- set утга нь тухайн product-ийн get_sets endpoint-ээс авсан key/id байна."
  },
  "paths": {
    "/api/broker/get_token": {
      "post": {
        "operationId": "postApiBrokerGet_token",
        "summary": "Get Token",
        "description": "Broker token авна.\n\nБуцаасан token-ийг дараагийн хүсэлтүүд дээр:\nAuthorization: <token>\nхэлбэрээр дамжуулна.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "1. Нэвтрэх"
        ],
        "x-fern-sdk-group-name": [
          "1. Нэвтрэх"
        ],
        "x-fern-sdk-method-name": "Get Token",
        "security": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                },
                "required": [
                  "username",
                  "password"
                ]
              },
              "example": {
                "username": "your_broker_username",
                "password": "your_broker_password"
              }
            }
          }
        }
      }
    },
    "/api/broker/get-driver": {
      "post": {
        "operationId": "postApiBrokerGet-driver",
        "summary": "Get Driver",
        "description": "Регистрийн дугаараар жолооч / иргэний мэдээлэл татна.\n\nЭнэ endpoint нь XYP lookup ашигладаг.\n\nАнхаарах зүйл:\n- Broker token-оо Authorization header дээр дамжуулна.\n- Зөвхөн XYP ашиглах эрхтэй хэрэглэгч ашиглана.\n- Энэ endpoint нь create-ийн өмнөх туслах autofill endpoint юм.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "2. Нийтлэг endpoint-үүд"
        ],
        "x-fern-sdk-group-name": [
          "2. Нийтлэг endpoint-үүд"
        ],
        "x-fern-sdk-method-name": "Get Driver",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "regnum": {
                    "type": "string"
                  }
                },
                "required": [
                  "regnum"
                ]
              },
              "example": {
                "regnum": "АБ12345678"
              }
            }
          }
        }
      }
    },
    "/api/broker/get-vehicle": {
      "post": {
        "operationId": "postApiBrokerGet-vehicle",
        "summary": "Get Vehicle",
        "description": "Улсын дугаараар тээврийн хэрэгслийн мэдээлэл татна.\n\nЭнэ endpoint нь XYP lookup ашигладаг.\n\nАнхаарах зүйл:\n- Broker token-оо Authorization header дээр дамжуулна.\n- Зөвхөн XYP ашиглах эрхтэй хэрэглэгч ашиглана.\n- Энэ endpoint нь create-ийн өмнөх туслах autofill endpoint юм.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "2. Нийтлэг endpoint-үүд"
        ],
        "x-fern-sdk-group-name": [
          "2. Нийтлэг endpoint-үүд"
        ],
        "x-fern-sdk-method-name": "Get Vehicle",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "plate_number": {
                    "type": "string"
                  }
                },
                "required": [
                  "plate_number"
                ]
              },
              "example": {
                "plate_number": "1234УБА"
              }
            }
          }
        }
      }
    },
    "/api/broker/products": {
      "get": {
        "operationId": "getApiBrokerProducts",
        "summary": "Products",
        "description": "Dynamic broker API дээр ашиглах боломжтой бүтээгдэхүүний жагсаалтыг авна.\n\nProduct бүр дээр:\n- id\n- key\n- name\n- is_active\n\nОдоогийн байдлаар:\n- thd\n- ht\n- god\n- thd_loan\n- ajd\n- sgo",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "2. Нийтлэг endpoint-үүд"
        ],
        "x-fern-sdk-group-name": [
          "2. Нийтлэг endpoint-үүд"
        ],
        "x-fern-sdk-method-name": "Products",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/broker/products/{product_key}/category": {
      "get": {
        "operationId": "getApiBrokerProductsProduct_keyCategory",
        "summary": "Get Category",
        "description": "Сонгосон product_key-ийн category-г авна.\n\nБуцах category утгууд:\n- mashin\n- oron_suuts\n- ed_hurungu",
        "parameters": [
          {
            "name": "product_key",
            "in": "path",
            "required": true,
            "description": "Бүтээгдэхүүний key",
            "schema": {
              "type": "string",
              "enum": [
                "thd",
                "ht",
                "god",
                "thd_loan",
                "ajd",
                "sgo"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "2. Нийтлэг endpoint-үүд"
        ],
        "x-fern-sdk-group-name": [
          "2. Нийтлэг endpoint-үүд"
        ],
        "x-fern-sdk-method-name": "Get Category",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/broker/{product_key}/get_sets": {
      "get": {
        "operationId": "getApiBrokerProductGet_sets",
        "summary": "Get Sets",
        "description": "Сонгосон бүтээгдэхүүний багцын мэдээллийг авна.\n\nБуцаах common бүтэц:\n- set_name\n- is_active\n- protection_percent\n- own_responsibility\n- price_percent\n- is_limited\n- protected_risks\n\nНэмэлт талбарууд:\n- god, sgo дээр insurance_type\n- god, sgo дээр protection_amount\n- god, sgo дээр price\n\nТайлбар:\n- ajd нь [] буцаана\n- thd нь хуучин THD sets response-ээ яг тэр чигээр нь ашиглана\n- product_key утгууд: thd, ht, god, thd_loan, ajd, sgo",
        "parameters": [
          {
            "name": "product_key",
            "in": "path",
            "required": true,
            "description": "Бүтээгдэхүүний key",
            "schema": {
              "type": "string",
              "enum": [
                "thd",
                "ht",
                "god",
                "thd_loan",
                "ajd",
                "sgo"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "2. Нийтлэг endpoint-үүд"
        ],
        "x-fern-sdk-group-name": [
          "2. Нийтлэг endpoint-үүд"
        ],
        "x-fern-sdk-method-name": "Get Sets",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/broker/{product_key}/check_pay": {
      "post": {
        "operationId": "postApiBrokerProductCheck_pay",
        "summary": "Check Pay",
        "description": "Төлбөрийн төлөвийг шалгана.\n\nТөлөгдсөн үед буцаах бүтэц:\n- code\n- is_paid\n- message\n- contract_url\n\ncontract_show_url буцаахгүй. Хэрэв source endpoint contract_url буцаадаггүй бол broker controller өөрөө contract_url үүсгэнэ.",
        "parameters": [
          {
            "name": "product_key",
            "in": "path",
            "required": true,
            "description": "Бүтээгдэхүүний key",
            "schema": {
              "type": "string",
              "enum": [
                "thd",
                "ht",
                "god",
                "thd_loan",
                "ajd",
                "sgo"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "2. Нийтлэг endpoint-үүд"
        ],
        "x-fern-sdk-group-name": [
          "2. Нийтлэг endpoint-үүд"
        ],
        "x-fern-sdk-method-name": "Check Pay",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contract_number": {
                    "type": "string"
                  }
                },
                "required": [
                  "contract_number"
                ]
              },
              "example": {
                "contract_number": "{{contract_number}}"
              }
            }
          }
        }
      }
    },
    "/api/broker/{product_key}/contract": {
      "post": {
        "operationId": "postApiBrokerProductContract",
        "summary": "Get Contract",
        "description": "Broker-ийн өөрийн үүсгэсэн нэг гэрээний дэлгэрэнгүй мэдээллийг авна.",
        "parameters": [
          {
            "name": "product_key",
            "in": "path",
            "required": true,
            "description": "Бүтээгдэхүүний key",
            "schema": {
              "type": "string",
              "enum": [
                "thd",
                "ht",
                "god",
                "thd_loan",
                "ajd",
                "sgo"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "2. Нийтлэг endpoint-үүд"
        ],
        "x-fern-sdk-group-name": [
          "2. Нийтлэг endpoint-үүд"
        ],
        "x-fern-sdk-method-name": "Get Contract",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contract_number": {
                    "type": "string"
                  }
                },
                "required": [
                  "contract_number"
                ]
              },
              "example": {
                "contract_number": "{{contract_number}}"
              }
            }
          }
        }
      }
    },
    "/api/broker/{product_key}/contracts": {
      "post": {
        "operationId": "postApiBrokerProductContracts",
        "summary": "Get Contracts",
        "description": "Огнооны интервалаар гэрээнүүдийн жагсаалтыг авна.\n\nДотоод date field:\n- ajd => contract_created_at\n- sgo => contract_created_at\n- бусад нь => created_at\n\nAJD status нь зөвхөн return дээр THD-style хэлбэрт хөрвөнө:\n- contract-create-success => insured\n- miis-invoice-success => pending\n- pre-contract-create => pending\n- contract-create-failed => failed\n- self-cancelled => cancelled\n- insurer-cancelled => cancelled\n- contract-expired => expired",
        "parameters": [
          {
            "name": "product_key",
            "in": "path",
            "required": true,
            "description": "Бүтээгдэхүүний key",
            "schema": {
              "type": "string",
              "enum": [
                "thd",
                "ht",
                "god",
                "thd_loan",
                "ajd",
                "sgo"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "2. Нийтлэг endpoint-үүд"
        ],
        "x-fern-sdk-group-name": [
          "2. Нийтлэг endpoint-үүд"
        ],
        "x-fern-sdk-method-name": "Get Contracts",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "start_date": {
                    "type": "string",
                    "format": "date"
                  },
                  "end_date": {
                    "type": "string",
                    "format": "date"
                  }
                },
                "required": [
                  "start_date",
                  "end_date"
                ]
              },
              "example": {
                "start_date": "2026-05-01",
                "end_date": "2026-05-31"
              }
            }
          }
        }
      }
    },
    "/api/broker/thd/create": {
      "post": {
        "operationId": "postApiBrokerThdCreate2",
        "summary": "Create THD",
        "description": "THD гэрээ үүсгэнэ.\n\nЗаавал:\n- set\n- evaluation\n- type\n- vehicle\n- type=1 үед driver\n- type=2 үед company\n\nАнхаарах зүйл:\n- set утга нь get_sets-с авсан утга байна",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "3. Тээврийн хэрэгслийн даатгал"
        ],
        "x-fern-sdk-group-name": [
          "3. Тээврийн хэрэгслийн даатгал"
        ],
        "x-fern-sdk-method-name": "Create THD",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "set": {
                        "type": "string"
                      },
                      "evaluation": {
                        "type": "integer"
                      },
                      "type": {
                        "type": "integer",
                        "enum": [
                          1
                        ]
                      },
                      "BeginDate": {
                        "type": "string",
                        "format": "date"
                      },
                      "vehicle": {
                        "type": "object",
                        "properties": {
                          "plate_number": {
                            "type": "string"
                          },
                          "color": {
                            "type": "string"
                          },
                          "cabin_number": {
                            "type": "string"
                          },
                          "mark": {
                            "type": "string"
                          },
                          "model": {
                            "type": "string"
                          },
                          "made_year": {
                            "type": "integer"
                          },
                          "imported_date": {
                            "type": "string",
                            "format": "date"
                          }
                        },
                        "required": [
                          "plate_number",
                          "color",
                          "cabin_number",
                          "mark",
                          "model",
                          "made_year",
                          "imported_date"
                        ]
                      },
                      "driver": {
                        "type": "object",
                        "properties": {
                          "familyname": {
                            "type": "string"
                          },
                          "lastname": {
                            "type": "string"
                          },
                          "firstname": {
                            "type": "string"
                          },
                          "regnum": {
                            "type": "string"
                          },
                          "driver_ln": {
                            "type": "string"
                          },
                          "driver_ln_date": {
                            "type": "string",
                            "format": "date"
                          },
                          "address": {
                            "type": "string"
                          },
                          "phone_number": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string",
                            "format": "email"
                          },
                          "nationality": {
                            "type": "string"
                          },
                          "sex": {
                            "type": "string"
                          },
                          "born_Date": {
                            "type": "string",
                            "format": "date"
                          },
                          "ZipCode": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "familyname",
                          "lastname",
                          "firstname",
                          "regnum",
                          "driver_ln",
                          "driver_ln_date",
                          "address",
                          "phone_number",
                          "email",
                          "nationality",
                          "sex",
                          "born_Date",
                          "ZipCode"
                        ]
                      }
                    },
                    "required": [
                      "set",
                      "evaluation",
                      "type",
                      "BeginDate",
                      "vehicle",
                      "driver"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "set": {
                        "type": "string"
                      },
                      "evaluation": {
                        "type": "integer"
                      },
                      "type": {
                        "type": "integer",
                        "enum": [
                          2
                        ]
                      },
                      "BeginDate": {
                        "type": "string",
                        "format": "date"
                      },
                      "vehicle": {
                        "type": "object",
                        "properties": {
                          "plate_number": {
                            "type": "string"
                          },
                          "color": {
                            "type": "string"
                          },
                          "cabin_number": {
                            "type": "string"
                          },
                          "mark": {
                            "type": "string"
                          },
                          "model": {
                            "type": "string"
                          },
                          "made_year": {
                            "type": "integer"
                          },
                          "imported_date": {
                            "type": "string",
                            "format": "date"
                          }
                        },
                        "required": [
                          "plate_number",
                          "color",
                          "cabin_number",
                          "mark",
                          "model",
                          "made_year",
                          "imported_date"
                        ]
                      },
                      "company": {
                        "type": "object",
                        "properties": {
                          "regnum": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "address": {
                            "type": "string"
                          },
                          "phone_number": {
                            "type": "string"
                          },
                          "ZipCode": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "regnum",
                          "name",
                          "address",
                          "phone_number",
                          "ZipCode"
                        ]
                      }
                    },
                    "required": [
                      "set",
                      "evaluation",
                      "type",
                      "BeginDate",
                      "vehicle",
                      "company"
                    ]
                  }
                ]
              },
              "examples": {
                "individual": {
                  "summary": "Create THD (Иргэн)",
                  "value": {
                    "set": "THD-13",
                    "evaluation": 50000000,
                    "type": 1,
                    "BeginDate": "2026-05-20",
                    "vehicle": {
                      "plate_number": "1234УБА",
                      "color": "ЦАГААН",
                      "cabin_number": "CABIN123",
                      "mark": "TOYOTA",
                      "model": "PRIUS",
                      "made_year": 2018,
                      "imported_date": "2018-01-01"
                    },
                    "driver": {
                      "familyname": "БАТ",
                      "lastname": "БАТ",
                      "firstname": "ДОРЖ",
                      "regnum": "АБ12345678",
                      "driver_ln": "1234567",
                      "driver_ln_date": "2015-01-01",
                      "address": "УБ",
                      "phone_number": "99112233",
                      "email": "test@example.com",
                      "nationality": "MN",
                      "sex": "male",
                      "born_Date": "1990-01-01",
                      "ZipCode": "15160"
                    }
                  }
                },
                "company": {
                  "summary": "Create THD (Компани)",
                  "value": {
                    "set": "THD-13",
                    "evaluation": 50000000,
                    "type": 2,
                    "BeginDate": "2026-05-20",
                    "vehicle": {
                      "plate_number": "1234УБА",
                      "color": "ЦАГААН",
                      "cabin_number": "CABIN123",
                      "mark": "TOYOTA",
                      "model": "PRIUS",
                      "made_year": 2018,
                      "imported_date": "2018-01-01"
                    },
                    "company": {
                      "regnum": "1234567",
                      "name": "TEST LLC",
                      "address": "УБ",
                      "phone_number": "70112233",
                      "ZipCode": "15160"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/broker/thd/upload_photos": {
      "post": {
        "operationId": "postApiBrokerThdUpload_photos",
        "summary": "Upload Photos THD",
        "description": "THD гэрээнд 4 зураг upload хийнэ.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "3. Тээврийн хэрэгслийн даатгал"
        ],
        "x-fern-sdk-group-name": [
          "3. Тээврийн хэрэгслийн даатгал"
        ],
        "x-fern-sdk-method-name": "Upload Photos THD",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "contract_number": {
                    "type": "string"
                  },
                  "vehicle_front": {
                    "type": "string",
                    "format": "binary"
                  },
                  "vehicle_left": {
                    "type": "string",
                    "format": "binary"
                  },
                  "vehicle_back": {
                    "type": "string",
                    "format": "binary"
                  },
                  "vehicle_right": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "contract_number",
                  "vehicle_front",
                  "vehicle_left",
                  "vehicle_back",
                  "vehicle_right"
                ]
              }
            }
          }
        }
      }
    },
    "/api/broker/ht/create": {
      "post": {
        "operationId": "postApiBrokerHtCreate",
        "summary": "Create HT (1 чиргүүлтэй)",
        "description": "1 чиргүүлтэй HT гэрээ үүсгэнэ.\n\nТайлбар:\n- owner илгээвэл driver руу normalize хийгдэнэ\n- top-level evaluation байвал vehicle.evaluation руу шилжүүлж ашиглана",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "4. Хүнд даацын машины даатгал"
        ],
        "x-fern-sdk-group-name": [
          "4. Хүнд даацын машины даатгал"
        ],
        "x-fern-sdk-method-name": "Create HT (1 чиргүүлтэй)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "set": {
                    "type": "string"
                  },
                  "evaluation": {
                    "type": "integer"
                  },
                  "type": {
                    "type": "integer"
                  },
                  "BeginDate": {
                    "type": "string",
                    "format": "date"
                  },
                  "vehicle": {
                    "type": "object",
                    "properties": {
                      "plate_number": {
                        "type": "string"
                      },
                      "color": {
                        "type": "string"
                      },
                      "cabin_number": {
                        "type": "string"
                      },
                      "mark": {
                        "type": "string"
                      },
                      "model": {
                        "type": "string"
                      },
                      "made_year": {
                        "type": "integer"
                      },
                      "imported_date": {
                        "type": "string",
                        "format": "date"
                      },
                      "evaluation": {
                        "type": "integer"
                      }
                    },
                    "required": [
                      "plate_number",
                      "color",
                      "cabin_number",
                      "mark",
                      "model",
                      "made_year",
                      "imported_date",
                      "evaluation"
                    ]
                  },
                  "owner": {
                    "type": "object",
                    "properties": {
                      "familyname": {
                        "type": "string"
                      },
                      "lastname": {
                        "type": "string"
                      },
                      "firstname": {
                        "type": "string"
                      },
                      "regnum": {
                        "type": "string"
                      },
                      "driver_ln": {
                        "type": "string"
                      },
                      "driver_ln_date": {
                        "type": "string",
                        "format": "date"
                      },
                      "address": {
                        "type": "string"
                      },
                      "phone_number": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string",
                        "format": "email"
                      },
                      "nationality": {
                        "type": "string"
                      },
                      "sex": {
                        "type": "string"
                      },
                      "born_Date": {
                        "type": "string",
                        "format": "date"
                      },
                      "ZipCode": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "familyname",
                      "lastname",
                      "firstname",
                      "regnum",
                      "driver_ln",
                      "driver_ln_date",
                      "address",
                      "phone_number",
                      "email",
                      "nationality",
                      "sex",
                      "born_Date",
                      "ZipCode"
                    ]
                  },
                  "trailers": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "plate_number": {
                          "type": "string"
                        },
                        "color": {
                          "type": "string"
                        },
                        "cabin_number": {
                          "type": "string"
                        },
                        "mark": {
                          "type": "string"
                        },
                        "model": {
                          "type": "string"
                        },
                        "made_year": {
                          "type": "integer"
                        },
                        "imported_date": {
                          "type": "string",
                          "format": "date"
                        },
                        "type": {
                          "type": "string"
                        },
                        "mass": {
                          "type": "integer"
                        },
                        "evaluation": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "plate_number",
                        "color",
                        "cabin_number",
                        "mark",
                        "model",
                        "made_year",
                        "imported_date",
                        "type",
                        "mass",
                        "evaluation"
                      ]
                    }
                  }
                },
                "required": [
                  "set",
                  "evaluation",
                  "type",
                  "BeginDate",
                  "vehicle",
                  "owner",
                  "trailers"
                ]
              },
              "example": {
                "set": "HT-13",
                "evaluation": 120000000,
                "type": 1,
                "BeginDate": "2026-05-20",
                "vehicle": {
                  "plate_number": "5678УБА",
                  "color": "ХӨХ",
                  "cabin_number": "HTCABIN123",
                  "mark": "HOWO",
                  "model": "TRUCK",
                  "made_year": 2020,
                  "imported_date": "2020-01-01",
                  "evaluation": 120000000
                },
                "owner": {
                  "familyname": "БАТ",
                  "lastname": "БАТ",
                  "firstname": "ДОРЖ",
                  "regnum": "АБ12345678",
                  "driver_ln": "1234567",
                  "driver_ln_date": "2015-01-01",
                  "address": "УБ",
                  "phone_number": "99112233",
                  "email": "test@example.com",
                  "nationality": "MN",
                  "sex": "male",
                  "born_Date": "1990-01-01",
                  "ZipCode": "15160"
                },
                "trailers": [
                  {
                    "plate_number": "1234УНА",
                    "color": "ЦАГААН",
                    "cabin_number": "TRL123456",
                    "mark": "SCHMITZ",
                    "model": "SCS24",
                    "made_year": 2019,
                    "imported_date": "2019-01-01",
                    "type": "ЧИРГҮҮЛ",
                    "mass": 24000,
                    "evaluation": 30000000
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/broker/ht/upload_photos": {
      "post": {
        "operationId": "postApiBrokerHtUpload_photos",
        "summary": "Upload Photos HT",
        "description": "HT гэрээнд 4 зураг upload хийнэ.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "4. Хүнд даацын машины даатгал"
        ],
        "x-fern-sdk-group-name": [
          "4. Хүнд даацын машины даатгал"
        ],
        "x-fern-sdk-method-name": "Upload Photos HT",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "contract_number": {
                    "type": "string"
                  },
                  "vehicle_front": {
                    "type": "string",
                    "format": "binary"
                  },
                  "vehicle_left": {
                    "type": "string",
                    "format": "binary"
                  },
                  "vehicle_back": {
                    "type": "string",
                    "format": "binary"
                  },
                  "vehicle_right": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "contract_number",
                  "vehicle_front",
                  "vehicle_left",
                  "vehicle_back",
                  "vehicle_right"
                ]
              }
            }
          }
        }
      }
    },
    "/api/broker/god/create": {
      "post": {
        "operationId": "postApiBrokerGodCreate",
        "summary": "Create GOD",
        "description": "GOD гэрээ үүсгэнэ.\n\nТайлбар:\n- Зөвхөн иргэн дэмжинэ\n- owner илгээвэл driver руу normalize хийгдэнэ\n- type илгээхгүй бол backend 1 болгож ашиглана\n- зураг upload endpoint байхгүй",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "5. Гэнэтийн ослын даатгал"
        ],
        "x-fern-sdk-group-name": [
          "5. Гэнэтийн ослын даатгал"
        ],
        "x-fern-sdk-method-name": "Create GOD",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "set": {
                    "type": "string"
                  },
                  "type": {
                    "type": "integer",
                    "enum": [
                      1
                    ]
                  },
                  "BeginDate": {
                    "type": "string",
                    "format": "date"
                  },
                  "driver": {
                    "type": "object",
                    "properties": {
                      "familyname": {
                        "type": "string"
                      },
                      "lastname": {
                        "type": "string"
                      },
                      "firstname": {
                        "type": "string"
                      },
                      "regnum": {
                        "type": "string"
                      },
                      "phone_number": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string",
                        "format": "email"
                      },
                      "nationality": {
                        "type": "string"
                      },
                      "sex": {
                        "type": "string"
                      },
                      "born_Date": {
                        "type": "string",
                        "format": "date"
                      },
                      "ZipCode": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "familyname",
                      "lastname",
                      "firstname",
                      "regnum",
                      "phone_number",
                      "email",
                      "nationality",
                      "sex",
                      "born_Date",
                      "ZipCode"
                    ]
                  }
                },
                "required": [
                  "set",
                  "type",
                  "BeginDate",
                  "driver"
                ]
              },
              "example": {
                "set": "GOD-01",
                "type": 1,
                "BeginDate": "2026-05-20",
                "driver": {
                  "familyname": "БАТ",
                  "lastname": "БАТ",
                  "firstname": "ДОРЖ",
                  "regnum": "АБ12345678",
                  "phone_number": "99112233",
                  "email": "test@example.com",
                  "nationality": "MN",
                  "sex": "male",
                  "born_Date": "1990-01-01",
                  "ZipCode": "15160"
                }
              }
            }
          }
        }
      }
    },
    "/api/broker/thd_loan/create": {
      "post": {
        "operationId": "postApiBrokerThd_loanCreate",
        "summary": "Create THD Loan",
        "description": "THD loan гэрээ үүсгэнэ.\n\nАнхаарах зүйл:\n- owner илгээхгүй, driver илгээсэн бол backend owner руу normalize хийнэ\n- top-level evaluation байвал vehicle.evaluation руу шилжүүлж ашиглана",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "6. Зээлтэй автомашины даатгал"
        ],
        "x-fern-sdk-group-name": [
          "6. Зээлтэй автомашины даатгал"
        ],
        "x-fern-sdk-method-name": "Create THD Loan",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "set": {
                    "type": "string"
                  },
                  "evaluation": {
                    "type": "integer"
                  },
                  "type": {
                    "type": "integer"
                  },
                  "BeginDate": {
                    "type": "string",
                    "format": "date"
                  },
                  "vehicle": {
                    "type": "object",
                    "properties": {
                      "plate_number": {
                        "type": "string"
                      },
                      "color": {
                        "type": "string"
                      },
                      "cabin_number": {
                        "type": "string"
                      },
                      "mark": {
                        "type": "string"
                      },
                      "model": {
                        "type": "string"
                      },
                      "made_year": {
                        "type": "integer"
                      },
                      "imported_date": {
                        "type": "string",
                        "format": "date"
                      }
                    },
                    "required": [
                      "plate_number",
                      "color",
                      "cabin_number",
                      "mark",
                      "model",
                      "made_year",
                      "imported_date"
                    ]
                  },
                  "company": {
                    "type": "object",
                    "properties": {
                      "regnum": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "address": {
                        "type": "string"
                      },
                      "phone_number": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string",
                        "format": "email"
                      }
                    },
                    "required": [
                      "regnum",
                      "name",
                      "address",
                      "phone_number",
                      "email"
                    ]
                  },
                  "owner": {
                    "type": "object",
                    "properties": {
                      "lastname": {
                        "type": "string"
                      },
                      "firstname": {
                        "type": "string"
                      },
                      "regnum": {
                        "type": "string"
                      },
                      "phone_number": {
                        "type": "string"
                      },
                      "driver_ln": {
                        "type": "string"
                      },
                      "driver_ln_date": {
                        "type": "string",
                        "format": "date"
                      },
                      "address": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "lastname",
                      "firstname",
                      "regnum",
                      "phone_number",
                      "driver_ln",
                      "driver_ln_date",
                      "address"
                    ]
                  }
                },
                "required": [
                  "set",
                  "evaluation",
                  "type",
                  "BeginDate",
                  "vehicle",
                  "company",
                  "owner"
                ]
              },
              "example": {
                "set": "THD-LOAN-13",
                "evaluation": 85000000,
                "type": 2,
                "BeginDate": "2026-05-20",
                "vehicle": {
                  "plate_number": "9999УБА",
                  "color": "ХАР",
                  "cabin_number": "LOANCABIN123",
                  "mark": "TOYOTA",
                  "model": "PRADO",
                  "made_year": 2021,
                  "imported_date": "2021-01-01"
                },
                "company": {
                  "regnum": "1234567",
                  "name": "TEST BBSB",
                  "address": "УБ",
                  "phone_number": "70112233",
                  "email": "bbsb@example.com"
                },
                "owner": {
                  "lastname": "БАТ",
                  "firstname": "ДОРЖ",
                  "regnum": "АБ12345678",
                  "phone_number": "99112233",
                  "driver_ln": "1234567",
                  "driver_ln_date": "2015-01-01",
                  "address": "УБ"
                }
              }
            }
          }
        }
      }
    },
    "/api/broker/thd_loan/upload_photos": {
      "post": {
        "operationId": "postApiBrokerThd_loanUpload_photos",
        "summary": "Upload Photos THD Loan",
        "description": "THD loan гэрээнд 4 зураг upload хийнэ.",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "6. Зээлтэй автомашины даатгал"
        ],
        "x-fern-sdk-group-name": [
          "6. Зээлтэй автомашины даатгал"
        ],
        "x-fern-sdk-method-name": "Upload Photos THD Loan",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "contract_number": {
                    "type": "string"
                  },
                  "vehicle_front": {
                    "type": "string",
                    "format": "binary"
                  },
                  "vehicle_left": {
                    "type": "string",
                    "format": "binary"
                  },
                  "vehicle_back": {
                    "type": "string",
                    "format": "binary"
                  },
                  "vehicle_right": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "contract_number",
                  "vehicle_front",
                  "vehicle_left",
                  "vehicle_back",
                  "vehicle_right"
                ]
              }
            }
          }
        }
      }
    },
    "/api/broker/ajd/create": {
      "post": {
        "operationId": "postApiBrokerAjdCreate2",
        "summary": "Create AJD",
        "description": "Иргэний AJD гэрээ үүсгэнэ.\n\nТайлбар:\n- is_limited request дээрээс авахгүй\n- backend үргэлж false-аар MIIS рүү явуулна\n- co_drivers optional\n- nested driver/vehicle payload-ийг backend normalize хийж top-level request болгон ашиглана",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "7. Албан журмын даатгал"
        ],
        "x-fern-sdk-group-name": [
          "7. Албан журмын даатгал"
        ],
        "x-fern-sdk-method-name": "Create AJD",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "integer",
                        "enum": [
                          1
                        ]
                      },
                      "vehicle": {
                        "type": "object",
                        "properties": {
                          "plate_number": {
                            "type": "string"
                          },
                          "is_chirguul": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "plate_number",
                          "is_chirguul"
                        ]
                      },
                      "driver": {
                        "type": "object",
                        "properties": {
                          "lastname": {
                            "type": "string"
                          },
                          "firstname": {
                            "type": "string"
                          },
                          "regnum": {
                            "type": "string"
                          },
                          "address": {
                            "type": "string"
                          },
                          "phone_number": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string",
                            "format": "email"
                          }
                        },
                        "required": [
                          "lastname",
                          "firstname",
                          "regnum",
                          "address",
                          "phone_number",
                          "email"
                        ]
                      }
                    },
                    "required": [
                      "type",
                      "vehicle",
                      "driver"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "integer",
                        "enum": [
                          2
                        ]
                      },
                      "vehicle": {
                        "type": "object",
                        "properties": {
                          "plate_number": {
                            "type": "string"
                          },
                          "is_chirguul": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "plate_number",
                          "is_chirguul"
                        ]
                      },
                      "company": {
                        "type": "object",
                        "properties": {
                          "regnum": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "address": {
                            "type": "string"
                          },
                          "phone_number": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string",
                            "format": "email"
                          }
                        },
                        "required": [
                          "regnum",
                          "name",
                          "address",
                          "phone_number",
                          "email"
                        ]
                      }
                    },
                    "required": [
                      "type",
                      "vehicle",
                      "company"
                    ]
                  }
                ]
              },
              "examples": {
                "individual": {
                  "summary": "Create AJD (Иргэн)",
                  "value": {
                    "type": 1,
                    "vehicle": {
                      "plate_number": "1234УБА",
                      "is_chirguul": false
                    },
                    "driver": {
                      "lastname": "БАТ",
                      "firstname": "ДОРЖ",
                      "regnum": "АБ12345678",
                      "address": "УБ",
                      "phone_number": "99112233",
                      "email": "test@example.com"
                    }
                  }
                },
                "company": {
                  "summary": "Create AJD (Компани)",
                  "value": {
                    "type": 2,
                    "vehicle": {
                      "plate_number": "1234УБА",
                      "is_chirguul": false
                    },
                    "company": {
                      "regnum": "1234567",
                      "name": "TEST COMPANY",
                      "address": "УБ",
                      "phone_number": "70112233",
                      "email": "company@example.com"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/broker/sgo/create": {
      "post": {
        "operationId": "postApiBrokerSgoCreate",
        "summary": "Create SGO",
        "description": "SGO гэрээ үүсгэнэ.\n\nТайлбар:\n- broker endpoint нь driver.regnum, driver.phone_number, vehicle.plate_number утгуудыг top-level талбар руу normalize хийнэ\n- insured_seats илгээвэл seat_type руу normalize хийгдэнэ\n- insured_seats=0 эсвэл хоосон бол нийт суудлаар даатгана\n- зураг upload endpoint байхгүй",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "tags": [
          "8. Суудлын гэнэтийн ослын даатгал"
        ],
        "x-fern-sdk-group-name": [
          "8. Суудлын гэнэтийн ослын даатгал"
        ],
        "x-fern-sdk-method-name": "Create SGO",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "set": {
                    "type": "string"
                  },
                  "insured_seats": {
                    "type": "integer"
                  },
                  "vehicle": {
                    "type": "object",
                    "properties": {
                      "plate_number": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "plate_number"
                    ]
                  },
                  "driver": {
                    "type": "object",
                    "properties": {
                      "regnum": {
                        "type": "string"
                      },
                      "phone_number": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string",
                        "format": "email"
                      }
                    },
                    "required": [
                      "regnum",
                      "phone_number",
                      "email"
                    ]
                  }
                },
                "required": [
                  "set",
                  "insured_seats",
                  "vehicle",
                  "driver"
                ]
              },
              "example": {
                "set": "SGO-01",
                "insured_seats": 0,
                "vehicle": {
                  "plate_number": "1234УБА"
                },
                "driver": {
                  "regnum": "АБ12345678",
                  "phone_number": "99112233",
                  "email": "test@example.com"
                }
              }
            }
          }
        }
      }
    }
  },
  "servers": [
    {
      "url": "https://ubd.insur.mn"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Enter your broker token obtained from /api/broker/get_token endpoint. Format: Authorization: <token>"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "1. Нэвтрэх",
      "description": "Broker token авах endpoint."
    },
    {
      "name": "2. Нийтлэг endpoint-үүд",
      "description": "Бүх бүтээгдэхүүн дээр ижил хэрэглэгдэх broker API endpoint-үүд."
    },
    {
      "name": "3. Тээврийн хэрэгслийн даатгал",
      "description": "Тээврийн хэрэгслийн даатгал нь хуучин broker THD API flow-ийг яг тэр чигээр нь ашиглана."
    },
    {
      "name": "4. Хүнд даацын машины даатгал",
      "description": "Хүнд даацын машины даатгал нь тээврийн хэрэгслийн даатгалтай төстэй request body хүлээж авна. owner талбар driver руу normalize хийгдэнэ."
    },
    {
      "name": "5. Гэнэтийн ослын даатгал",
      "description": "Гэнэтийн ослын даатгалын broker flow. Зөвхөн иргэний гэрээг дэмжинэ."
    },
    {
      "name": "6. Зээлтэй автомашины даатгал",
      "description": "Зээлтэй автомашины даатгал нь company + owner + vehicle бүтэцтэй, тээврийн хэрэгслийн даатгалтай төстэй payload хүлээнэ."
    },
    {
      "name": "7. Албан журмын даатгал",
      "description": "Албан журмын даатгалын broker flow. is_limited-ийг backend үргэлж false болгож MIIS рүү явуулна."
    },
    {
      "name": "8. Суудлын гэнэтийн ослын даатгал",
      "description": "Суудлын гэнэтийн ослын даатгалын broker flow. Зөвхөн суудлын гэнэтийн ослын даатгалын гэрээг үүсгэнэ."
    }
  ]
}
